.span3
	%div{:class => "well sidebar-nav"}
		%ul{:class => "nav nav-list"}
			%li{:class => "nav-header"}
				Summary
			%li{:ng-class=>"{'active': dept.name==='English'}"}
				= link_to dept.name, "#"