<div>
  <div>
    <div> <h3><u>{{department}} Department</u></h3></div>
    <div>
      <h4>You have already taken:</h4>
        <ul>
        	<% taken_courses.each do |course| %>
          	<li><%= course.name %></li>
          <% end %>
        </ul>
    </div>

    <div>
      <h4>Your recommended {{department}} course(s)</h4>
      <p>Drag and drop the selected course to the right sidebar</p>
    </div>
    <div class='contentWrapper ng-cloak'>
   	  <div class='content'>
      <table>
      	<tr><td>Recommended Course(s)</td><td> Drag and drop selection here </td></tr>
        <tr>
          <td style='width: 15%;'>
            <ul id="drag-elements">
              <% recommended_courses.each do |course| %>
              	<li draggable="true" class="btn btn-info rec" style='width: 80%;'><div class="caption"><%= course.name %></div></li>
              <% end %>
            </ul>
          </td>
          <td id="drop-target-one" style='width: 15%;'>
            <div id="drop-target-one" name="chosen[courses]" class='chosen_courses' >
            	<ul id="drop-elements">
                	<% current_courses.each do |course| %>
                		<p><li draggable="true" class="btn btn-info rec" style='width: 80%;'><%= course.name %></li></p>
                	<% end %>
            	</ul>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h4><%= grade.description rescue '' %> {{department}} courses offered:</h4>
       <ul ng-model='department' ng-repeat='c in dept_grade_courses'>
           <li draggable="true" class="btn btn-info">
           	{{c.name}}
           </li>
       </ul>
    </div>
    <div>
      <% unless @appeal_courses.blank? %>
      <h4>I intend to appeal for:</h4>
        <ul>
          <% appeal_courses.each do |ac| %>
          <li>{{department}} I </li>
          <% end %>
        </ul>
        <% end %>
    </div>
    <div>
      <p> Note to Scheduler:</p>
      <textarea name="notes"></textarea>
    </div>
  </div>
</div>
