%h2 Editing grade
= form_for(@grade, url: admin_grade_path(@grade)) do |f|
  = render :partial => 'form', :locals => {:f => f}
= link_to 'Show', admin_grade_path(@grade)
|
\#{link_to 'Back', admin_grades_path}
